<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Plugin configuration for Magento\Backend\Model\Menu\Builder\AbstractCommand -->
    <type name="Magento\Backend\Model\Menu\Builder\AbstractCommand">
        <plugin name="admin_clean_menu_abstract_command" sortOrder="1" type="Maginium\AdminCleanMenu\Interceptors\Models\MenuBuilderCommand" />
    </type>

    <!-- Plugin configuration for Magento\Backend\Block\Menu -->
    <type name="Magento\Backend\Block\Menu">
        <plugin name="admin_clean_menu_block" sortOrder="1" type="Maginium\AdminCleanMenu\Interceptors\Blocks\MenuBlock" />
    </type>

    <!-- Plugin configuration for Magento\Backend\Model\Menu\Item -->
    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="admin_clean_menu_item" sortOrder="1" type="Maginium\AdminCleanMenu\Interceptors\Models\MenuItem" />
    </type>

    <!-- Configuration for Maginium\AdminCleanMenu\Models\Config\Structure -->
    <type name="Magento\Config\Model\Config\Structure">
        <arguments>
            <argument xsi:type="object" name="structureData">Maginium\AdminCleanMenu\Models\Config\Structure\Data</argument>
        </arguments>
    </type>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\Config\Source\Modules -->
    <virtualType name="Maginium\AdminCleanMenu\Models\Config\Source\Modules" type="Maginium\AdminCleanMenu\Models\Config\Source\Options">
        <arguments>
            <argument xsi:type="object" name="list">Maginium\AdminCleanMenu\Models\CustomModuleList</argument>
        </arguments>
    </virtualType>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\Config\Source\Tabs -->
    <virtualType name="Maginium\AdminCleanMenu\Models\Config\Source\Tabs" type="Maginium\AdminCleanMenu\Models\Config\Source\Options">
        <arguments>
            <argument xsi:type="object" name="list">Maginium\AdminCleanMenu\Models\CustomTabList</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for Maginium\AdminCleanMenu\Models\Config\Source\Rules -->
    <type name="Maginium\AdminCleanMenu\Models\Config\Source\Rules">
        <arguments>
            <argument xsi:type="array" name="options">
                <item xsi:type="array" name="allowedByDefault">
                    <item xsi:type="const" name="value">Maginium\AdminCleanMenu\Models\AllowedRule\AllowedByDefault::RULE_CODE</item>
                    <item xsi:type="string" name="label" translatable="true">Selected items are denied</item>
                </item>
                <item xsi:type="array" name="deniedByDefault">
                    <item xsi:type="const" name="value">Maginium\AdminCleanMenu\Models\AllowedRule\DeniedByDefault::RULE_CODE</item>
                    <item xsi:type="string" name="label" translatable="true">Selected items are allowed</item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\ModuleRuleConfig -->
    <virtualType name="Maginium\AdminCleanMenu\Models\ModuleRuleConfig" type="Maginium\AdminCleanMenu\Models\RuleConfig">
        <arguments>
            <argument xsi:type="array" name="configPaths">
                <item xsi:type="string" name="ruleId">clean_admin_menu/settings/rule_modules</item>
                <item xsi:type="string" name="items">clean_admin_menu/settings/allowed_modules</item>
            </argument>
            <argument xsi:type="object" name="list">Maginium\AdminCleanMenu\Models\CustomModuleList</argument>
        </arguments>
    </virtualType>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\TabRuleConfig -->
    <virtualType name="Maginium\AdminCleanMenu\Models\TabRuleConfig" type="Maginium\AdminCleanMenu\Models\RuleConfig">
        <arguments>
            <argument xsi:type="array" name="configPaths">
                <item xsi:type="string" name="ruleId">clean_admin_menu/settings/rule_tabs</item>
                <item xsi:type="string" name="items">clean_admin_menu/settings/allowed_tabs</item>
            </argument>
            <argument xsi:type="object" name="list">Maginium\AdminCleanMenu\Models\CustomTabList</argument>
        </arguments>
    </virtualType>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\IsAllowedModuleStrategy -->
    <virtualType name="Maginium\AdminCleanMenu\Models\IsAllowedModuleStrategy" type="Maginium\AdminCleanMenu\Models\IsAllowedStrategy">
        <arguments>
            <argument xsi:type="object" name="config">Maginium\AdminCleanMenu\Models\ModuleRuleConfig</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for Maginium\AdminCleanMenu\Models\IsAllowedModule -->
    <type name="Maginium\AdminCleanMenu\Models\IsAllowedModule">
        <arguments>
            <argument xsi:type="object" name="isAllowed">Maginium\AdminCleanMenu\Models\IsAllowedModuleStrategy</argument>
        </arguments>
    </type>

    <!-- Virtual type configuration for Maginium\AdminCleanMenu\Models\IsAllowedTab -->
    <virtualType name="Maginium\AdminCleanMenu\Models\IsAllowedTab" type="Maginium\AdminCleanMenu\Models\IsAllowedStrategy">
        <arguments>
            <argument xsi:type="object" name="config">Maginium\AdminCleanMenu\Models\TabRuleConfig</argument>
        </arguments>
    </virtualType>

    <!-- Configuration for Maginium\AdminCleanMenu\Models\RuleFactory -->
    <type name="Maginium\AdminCleanMenu\Models\RuleFactory">
        <arguments>
            <argument xsi:type="array" name="rules">
                <item xsi:type="string" name="allowedByDefault">Maginium\AdminCleanMenu\Models\AllowedRule\AllowedByDefault</item>
                <item xsi:type="string" name="deniedByDefault">Maginium\AdminCleanMenu\Models\AllowedRule\DeniedByDefault</item>
            </argument>
        </arguments>
    </type>

    <!-- Plugin configuration for Maginium\AdminCleanMenu\Interceptors\Models\MenuBuilderCommand -->
    <type name="Maginium\AdminCleanMenu\Interceptors\Models\MenuBuilderCommand">
        <arguments>
            <argument xsi:type="object" name="isAllowedModule">Maginium\AdminCleanMenu\Models\IsAllowedModule</argument>
            <argument xsi:type="object" name="isAllowedMenuId">Maginium\AdminCleanMenu\Models\IsAllowedMenuId</argument>
        </arguments>
    </type>

    <!-- Configuration for Maginium\AdminCleanMenu\Models\Config\Structure\Data -->
    <type name="Maginium\AdminCleanMenu\Models\Config\Structure\Data">
        <arguments>
            <argument xsi:type="object" name="isAllowed">Maginium\AdminCleanMenu\Models\IsAllowedTab</argument>
        </arguments>
    </type>

    <type name="Maginium\AdminCleanMenu\Interceptors\Models\MenuPlugin">
        <arguments>
            <argument xsi:type="object" name="isAllowedModule">Maginium\AdminCleanMenu\Models\IsAllowedModule</argument>
            <argument xsi:type="object" name="isAllowedMenuId">Maginium\AdminCleanMenu\Models\IsAllowedMenuId</argument>
        </arguments>
    </type>

    <type name="Magento\Backend\Model\Menu">
        <plugin name="admin_clean_menu_plugin" sortOrder="1" type="Maginium\AdminCleanMenu\Interceptors\Models\MenuPlugin" />
    </type>
</config>
