<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <!-- Define a new menu item for Extensions -->
    <menu>
        <add
            dependsOnModule="Maginium_AdminCleanMenu"
            id="Maginium_AdminCleanMenu::extensions"
            module="Maginium_AdminCleanMenu"
            resource="Maginium_AdminCleanMenu::extensions"
            sortOrder="60"
            title="Extensions"
            translate="title"
        />

        <!-- Fix conflict with Amasty_Base Extension by removing its menu item -->
        <remove id="Amasty_Base::marketplace" />
    </menu>
</config>
