<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <!-- Define a new tab for Extensions -->
    <system>
        <tab class="extensions-tab" id="extensions_list" sortOrder="999999" translate="label">
            <label>Extensions</label>
        </tab>

        <!-- Define a new section for Clean Admin Menu settings -->
        <section id="clean_admin_menu" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="998" translate="label">
            <tab>advanced</tab>
            <label>Clean Admin Menu</label>
            <resource>Maginium_AdminCleanMenu::settings</resource>
            <!-- Define a group for general settings -->
            <group id="settings" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label">
                <label>General</label>

                <!-- Define a multiselect field for allowed modules -->
                <field
                    canRestore="1"
                    id="allowed_modules"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="10"
                    translate="label comment"
                    type="multiselect"
                >
                    <label>Modules in menu</label>
                    <source_model>Maginium\AdminCleanMenu\Models\Config\Source\Modules</source_model>
                    <backend_model>Maginium\AdminCleanMenu\Models\Config\Backend\Modules</backend_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>clean_admin_menu/settings/allowed_modules</config_path>
                    <comment>We will allow the selected modules to have their own menus if they have their own.</comment>
                </field>

                <!-- Define a select field for module rules -->
                <field
                    canRestore="1"
                    id="rule_modules"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="20"
                    translate="label comment"
                    type="select"
                >
                    <label>Rule</label>
                    <source_model>Maginium\AdminCleanMenu\Models\Config\Source\Rules</source_model>
                    <backend_model>Maginium\AdminCleanMenu\Models\Config\Backend\Modules</backend_model>
                    <config_path>clean_admin_menu/settings/rule_modules</config_path>
                    <comment>We will change the behavior of the allowed module list.</comment>
                </field>

                <!-- Define a multiselect field for allowed tabs -->
                <field
                    canRestore="1"
                    id="allowed_tabs"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="30"
                    translate="label comment"
                    type="multiselect"
                >
                    <label>Tabs in configuration</label>
                    <source_model>Maginium\AdminCleanMenu\Models\Config\Source\Tabs</source_model>
                    <can_be_empty>1</can_be_empty>
                    <config_path>clean_admin_menu/settings/allowed_tabs</config_path>
                    <comment>We will allow the selected tabs in the config section.</comment>
                </field>

                <!-- Define a select field for tab rules -->
                <field
                    canRestore="1"
                    id="rule_tabs"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="40"
                    translate="label comment"
                    type="select"
                >
                    <label>Rule</label>
                    <source_model>Maginium\AdminCleanMenu\Models\Config\Source\Rules</source_model>
                    <config_path>clean_admin_menu/settings/rule_tabs</config_path>
                    <comment>We will change the behavior of the allowed tab list.</comment>
                </field>
            </group>
            <!-- Define a group for marketplace settings -->
            <group id="marketplace" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="20" translate="label">
                <label>Marketplace Menu Item</label>

                <!-- Define a select field for enabling/disabling the marketplace menu item -->
                <field id="enabled" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="10" translate="label comment" type="select">
                    <label>Status</label>
                    <frontend_class>on-off-trigger</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Maginium\AdminCleanMenu\Models\Config\Backend\Modules</backend_model>
                    <if_module_enabled>Magento_Marketplace</if_module_enabled>
                    <config_path>clean_admin_menu/marketplace/enabled</config_path>
                    <comment>We will remove the Magento Marketplace menu item if disabled.</comment>
                </field>

                <!-- Define a select field for moving the marketplace menu item -->
                <field
                    canRestore="1"
                    id="move"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="20"
                    translate="label comment"
                    type="select"
                >
                    <depends>
                        <field id="clean_admin_menu/settings/enable_marketplace">1</field>
                    </depends>
                    <label>Move</label>
                    <frontend_class>on-off-trigger</frontend_class>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <backend_model>Maginium\AdminCleanMenu\Models\Config\Backend\Modules</backend_model>
                    <if_module_enabled>Magento_Marketplace</if_module_enabled>
                    <config_path>clean_admin_menu/marketplace/move</config_path>
                    <comment>We will move the Magento Marketplace menu item to the "extensions" menu.</comment>
                </field>
            </group>
            <!-- Define a group for developer tools -->
            <group id="developer" showInDefault="1" showInStore="0" showInWebsite="0" sortOrder="30" translate="label">
                <label>Developer Tools</label>

                <!-- Define a textarea field for moving menu IDs -->
                <field
                    canRestore="1"
                    id="allowed_menu_ids"
                    showInDefault="1"
                    showInStore="0"
                    showInWebsite="0"
                    sortOrder="10"
                    translate="label comment"
                    type="textarea"
                >
                    <label>Move Menu ID's</label>
                    <backend_model>Maginium\AdminCleanMenu\Models\Config\Backend\Modules</backend_model>
                    <config_path>clean_admin_menu/developer/allowed_menu_ids</config_path>
                    <comment>Enter each menu ID in next line. We will move the specified menu id's under "Extensions" menu.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
