<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            action="faqs/faqs/index"
            id="Maginium_AdminFaqs::page"
            module="Maginium_AdminFaqs"
            resource="Maginium_AdminFaqs::page"
            sortOrder="910"
            title="Faqs"
        />
    </menu>
</config>
